body{
  background: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 22px;
  padding: 30px;
  line-height: 225%;
}
nav{
  padding: 20px;

}
p.ptext{
  padding: 20px;
}
h1{
  font-family: 'DM Sans';
  font-size: 80px;
  font-weight:normal;
  line-height: 105%;
  padding: 10px;
}
div{
  font-family: 'DM Sans';
  font-size:22px;
}
.navigationdiv{
  font-family: arial;
  font-size: 20px;
  padding: 20px;
}
.column {
  float: left;
  width: 50%;
}
.row {
  margin: -20px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column3 {
  float: left;
  width: 33.333%;
}
.row3 {
  margin:0;
}
.row3:after {
  content: "";
  display: table;
  clear: both;
}
a{
  color: white
}
.cbutton{
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0px;
}
.cbutton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0px;
  background-color: #196b00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cbutton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.abutton{
  background:rgb(11, 128, 0);
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 20px;
}
.abutton:after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 15px;
  left: 15px;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.abutton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbutton {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #000000;
  padding: 20px;
}

.navbutton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 15px;
  left: 0;
  background-color: #2c6e00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbutton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}